body{
    padding: 0;
    margin: 0;
}
header{
    padding: 1%;
    height: 5vh;
    color: white;
    background-color: #C55394;
}
header div{
    float: left;
}
header div >a{
    color: white;
    text-decoration: none;
}
header nav{
    float: right;
}
header ul > li{
    display: inline;
}
main{
    background-image: url(../assets/img/rainbow.png);
}
