body{
    padding: 0;
    margin: 0;
}
header{
    padding: 1%;
    height: 5vh;
    color: white;
    background-color: #C55394;
}
header div{
    margin: 0;
    float: left;
}
header div > h1{
    margin: 0;

}
header div >a{
    color: white;
    text-decoration: none;
    font-family: 'courgette', cursive
}
header nav{
    float: right;
}
header ul > li{
    display: inline;
}
main{
    padding-top: 5%;
    background-image: url(../img/background.png);
}
main div h2{
    color: #C55394;
}
main > div > p{
    margin: 0;
    padding: 2% 0;
    color: #C55394;
    font-size: x-large;
    text-align: center;
    font-size: xx-large;
    background-size: 20%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(../assets/img/rainbow.png);
    
}
main > div.content{
    margin: 0 20%;
    border-radius: 25px;
    background-color: white;    
}
main > div.content p.text{
    font size: small;
}
main .col-unicorn figure{
    margin: 0;
}
main.col-unicorn figure figcaption{
    text-align: center;
}
.row{
    display: flex;
}
.row > .col-unicorn img{
    width: 100%;

}
.titlepink{
    color: #C55394;
    font-size: 'courgette',cursive;
}
   
